<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper XML 설정 태그 -->

<!-- namespace : 연결할 Mapper 인터페이스 -->
<mapper namespace="pj.interview.web.persistence.InterviewMapper">

	<!-- resultMap : 데이터 베이스 쿼리 반환 데이터와 Entity 클래스의 멤버 변수 매핑을 정의 -->
	<resultMap type="pj.interview.web.domain.Interview"
		id="interviewResultMap">
		<!-- property : Entity 멤버 변수 column : DB 테이블 컬럼 -->
		<id property="interviewId" column="INTERVIEW_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="question" column="QUESTION"/>
		<result property="answer" column="ANSWER"/>
		<result property="suggest" column="SUGGEST"/>
		<result property="emotion" column="EMOTION"/>
		<result property="intention" column="INTENTION"/>
		<result property="grade" column="GRADE"/>
		<result property="sector" column="SECTOR"/>
		<result property="career" column="CAREER"/>
		<result property="gender" column="GENDER"/>
		<result property="createdDate" column="CREATED_DATE"/>
	</resultMap>

	<!-- select, insert, update, delete 태그 : SQL 쿼리 정의 태그 id : 쿼리 식별 역할. Mapper 
		인터페이스 메서드 이름과 매칭 resultMap : 쿼리 결과 매핑. <resultMap> 태그의 id를 적용 -->

	<insert id="createInterview">
		<!-- 게시글 등록 -->
		INSERT INTO INTERVIEW (INTERVIEW_ID, MEMBER_ID, QUESTION, SECTOR, CAREER, GENDER)
		VALUES (INTERVIEW_SEQ.NEXTVAL, #{memberId}, #{question}, #{sector}, #{career}, #{gender})
	</insert>

	<update id="updateRslInterview">
		UPDATE INTERVIEW 
		SET ANSWER = #{answer}, 
		    SUGGEST = #{suggest}, 
		    EMOTION = #{emotion}, 
		    INTENTION = #{intention},
		    GRADE = #{grade}
		WHERE INTERVIEW_ID = (
			SELECT INTERVIEW_ID FROM (
				SELECT INTERVIEW_ID 
				FROM INTERVIEW 
				WHERE MEMBER_ID = #{memberId}
				ORDER BY INTERVIEW_ID DESC
			) WHERE ROWNUM = 1
		)
</update>

<select id="getOtherInterview" resultMap="interviewResultMap">
	<![CDATA[
	SELECT *
	FROM (
		SELECT
			QUESTION,
			ANSWER,
			EMOTION,
			INTENTION,
			SUGGEST,
			SECTOR,
			CREATED_DATE
		FROM INTERVIEW
		WHERE ANSWER IS NOT NULL
		ORDER BY CREATED_DATE DESC
	)
	WHERE ROWNUM <= 5
	]]>

</select>

<select id="getInterviewInfo" resultMap="interviewResultMap" parameterType="java.lang.String">
	SELECT
		QUESTION,
		ANSWER,
		EMOTION,
		INTENTION,
		SUGGEST,
		SECTOR,
		GRADE,
		CREATED_DATE
	FROM INTERVIEW
	WHERE MEMBER_ID = #{memberId}
	AND ANSWER IS NOT NULL
	ORDER BY CREATED_DATE DESC

</select>

<select id="getInterviewInfoForInterviewId" resultMap="interviewResultMap">
	SELECT *
	FROM INTERVIEW
	WHERE INTERVIEW_ID = #{interviewId}
</select>



</mapper>



